# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/
build/

# =========================
# Environment files
# =========================
.env
.env.local
.env.production

# =========================
# Logs
# =========================
*.log